@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Stack+Sans+Text:wght@200..700&display=swap');


:root {
  --corPrimaria: #D4FF58;
  --corSecundaria: #FA824C;
  --corBG-principal: black;
  --corBG-secundario: #F6F8FF;
  --corAlerta: #A7333F;
  --corCinza-claro: #CECECE;
  --corCinza-escuro: #4C4C4C;
  --corPlancholder:  #B7B7B7;
  --corCinza-stroke: #414141;

  --fontePrimaria: "Figtree", sans-serif;
  --fontDestaques: "Stack Sans Text", sans-serif;

}

body { 
  background-color: #000000;
}