button {
    padding: 14px 20px;
    cursor: pointer;
    border: none;
    width: 300px;
    font-size: 20px;
    font-weight: 600;
    font-family: var(--fontePrimaira);
    color: black;
}

.primario{
    background-color: var(--corPrimaria);
}

.secundario{
    background-color: var(--corBG-secundario);
}


.perigo{
    background-color: var(--corAlerta);
    color: #F6F8FF;
}